* {
  font-family: "Open Sans", sans-serif !important;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#auth-form .vb-descriptionList__row:nth-child(2n + 1),
#user-edit-form .vb-descriptionList__row:nth-child(2n + 1) {
  background-color: white;
}

#user-edit-form .vb-descriptionList__row:nth-child(2n):last-child {
  border-bottom: none;
}

.vb-gridBlock--half {
  flex-basis: calc((100%) / 2);
}

#cardbase-btm {
  position: fixed;
  bottom: -1%;
  width: 100%;
  left: 0;
  margin: 0;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

#table {
  min-height: 70vh;
}

#request-info-table .vb-descriptionList__row:nth-child(2n):last-child {
  border-bottom: none;
}
